# Dependency directories
node_modules/

# Build outputs
dist/
build/
out/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.vs/
*.sublime-workspace
pnpm-lock.yaml
